[Desktop Entry]
Version=0.4
Type=Application

Name={{cookiecutter.project_name}}
Comment={{cookiecutter.project_short_description}}
Categories=AudioVideo;Music;
Icon=~/.local/share/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.png


Exec=~/.local/bin/{{cookiecutter.project_slug}}
Terminal=false
