[Desktop Entry]
Version=0.4
Type=Application

Name={{cookiecutter.project_name}}
Comment={{cookiecutter.project_short_description}}
Categories=AudioVideo;Music;
Icon=HOME_PATH/.local/share/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.png

Exec=HOME_PATH/.local/bin/{{cookiecutter.project_slug}}
Terminal=false
